about-time==4.2.1
alive-progress==3.3.0
annotated-types==0.7.0
anyio==4.14.0
autograd==1.8.0
botorch==0.18.1
certifi==2026.6.17
cffi==2.0.0
cma==4.4.4
contourpy==1.3.3
cycler==0.12.1
Deprecated==1.3.1
fair-esm==2.0.0
filelock==3.29.4
fonttools==4.63.0
fsspec==2026.6.0
gpytorch==1.15.2
graphemeu==0.7.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
Jinja2==3.1.6
joblib==1.5.3
json_repair==0.61.1
kiwisolver==1.5.0
linear_operator==0.6.1
MarkupSafe==3.0.3
matplotlib==3.11.0
moocore==0.3.1
mpmath==1.3.0
multipledispatch==1.0.0
mypy_extensions==1.1.0
narwhals==2.22.1
networkx==3.6.1
ninja==1.13.0
numpy==2.5.0
ollama==0.6.2
packaging==26.2
pandas==3.0.3
pillow==12.2.0
platformdirs==4.10.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pymoo==0.6.1.6
pyparsing==3.3.2
pyre-extensions==0.0.32
python-dateutil==2.9.0.post0
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
setuptools==81.0.0
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.12.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
venv-pack==0.2.0
wrapt==2.2.2
